#overall-dialog {
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0009;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overall-dialog .window {
    background-image: url(/static/img/background.jpg);
    background-position: center;
    background-size: cover;
    overflow: scroll;
    height: 100%;
}

#overall-dialog li[onclick] {
    background: #1119;
}
#overall-dialog li[onclick]:hover {
    background: #1118;
}


.app-shell img.logo.main {
    position: absolute;
    width: 6rem;
    top: -1.5rem;
    left: -1.5rem;
}
.app button {
    background: none;
    border-radius: 0.5rem;
}

.app .message {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.app button.icon {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin: 1px;
}
.app button.icon span {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

.app button.value {
    border-color: var(--skyblue);
}
.app button.new {
    border-color: var(--skyblue);
}
.app button.withdraw {
    border-color: var(--skyblue);
}
.app button.edit {
    border-color: var(--skyblue);
}
.app button.save {
    border-color: var(--green);
}
.app button.delete {
    border-color: var(--danger);
}

input {
    width: inherit;
}
input.invalid,textarea.invalid {
    border-width: 1px;
    border-style: dashed;
    border-color: var(--danger);
}

.error-msg {
    font-size: 0.7rem;
    color: var(--danger) !important;
}

.app-shell {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.app.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#sfadata-view {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;
}
#sfadata-view input {
    color: var(--yellow);
}
#sfadata-view > figcaption {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#sfadata-view figcaption .flex-wrapper {
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#sfadata-view figcaption .flex-wrapper input {
    border-radius: 0.1rem;
}
#sfadata-view figcaption .flex-wrapper button {
    margin-left: 1rem;
}

#map-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: row;
}

ul.user.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#appbar * {
    color: #3A3A3A;
}

#appbar > div {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appbar {
    z-index: 9000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgba(149, 148, 137, 0.82);
}

.header.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


[data-type] .value {
    font-size: 0.8rem;
}

[data-type] label {
    margin-left: 0.1rem;
    font-size: 0.7rem;
    font-style: italic;
    font-family: monospace;
    opacity: 66%;
}

.sfadata.list {
    overflow-y: scroll;
}

.sfadata.list > ul {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
}

.visitor {
    display: flex;
    align-items: baseline;
}
.visitor .email {
    width: unset;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* somehow I have to substract padding & margin from height */
    /* min-width: 25%; */
    z-index: 1000;
    border-radius: 0.2rem;
    background-image: url(/static/img/background.jpg);
    overflow-y: auto;
    overflow-x: clip;
}
/*
    Formate für hochformatige Ausgabemedien 
    @media (min-width: 62em) {
*/
@media (orientation: portrait) {
    #map-container {
        flex-direction: column;
    }
    .app.main {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
    .app-shell {
        align-items: stretch;
    }
    .sidebar {
        max-height: 50%;
        width: unset;
    }

}
