:root {
    --yellow:#defe74;
    --pink:#fe00fe;
    --magenta:#7700a6;
    --skyblue:#00b3fe;
    --kingblue:#0016ee;
    --turquoise: #a0ffe3;
    --danger: #ee3333;
    --green: #1afe49;
    --violet: #7a0bff;
}

* {
    font-family: "Lucida Grande", Arial, sans-serif;
}

@import 'app.css';
@import 'page.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h5 {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/static/img/background.jpg);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}


h4 {
    font-size: 0.7rem;
    margin: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.user-message {
    background-color: red;
}

